.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
    background-color: rgb(28, 184, 65); /* this is a green */
}
.button-error {
    background-color: rgb(202, 60, 60); /* this is a maroon */
}
.button-warning {
    background-color: rgb(223, 117, 20); /* this is an orange */
}
.button-secondary {
    background-color: rgb(66, 184, 221); /* this is a light blue */
}

body{
  margin: 0;
}
#app{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.entry{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}
.name{
  margin-right: 15px;
}
.delete{
  padding: 1px;
  background-color: rgb(255, 103, 103);
}
#sidebar{
  background-color: rgb(255, 217, 181);
  padding: 1.95rem;
  display: flex;
  flex-direction: column;
  min-width: 23rem;
}
.spacer{
  flex-grow: 1;
}
.delete-all{
  padding: 0.75rem;
  background-color: rgb(121, 0, 0);
  color: white;
  text-align: center;
}

#main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.95rem;
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}
#product_id{
  width: 100%;
}